extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Dynamically add the project title
        h1 #{project.project_name}

        //- Dynamically add the project description
        p.lead.text-light
          | #{project.description}

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Technologies

        //- Loop and show each value in projec. technologies array
        ul
          each tag in project.technologies
            li #{tag}

        //- Dynamically add project links
        a.button.expanded(href=`${project.live_link}`, target='_blank') Live Demo
        a.button.expanded(href=`${project.github_link}`, target='_blank') GitHub Repo
    
    //- Loop and show each image in project.images.showcase array
    each image in project.image_urls.showcase
      img.image(src=`${baseImageURL + image}`)
      
